<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

</body>
</html>


  <table>
    <tr>
    		<th> passenger_id </th>
    		<th>passenger_name </th>
    		<th> passenger_gender </th>
    		<th> passenger_age </th>
    		<th> seat_name </th>
    </tr>
    
    <%for()
    
    
    </table>
    
    
    	private int passenger_id;
	private String passenger_name;
	private String passenger_gender;
	private int passenger_age;
	private String seat_name;